<div class="card {{class}}-card text-center">
  <img alt="unknown" src="/assets/unknown.webp" class="card-img-top"/>
  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <div class="card-footer display-6">
    {{dayname}}
  </div>
</div>