<div class="card {{class}}-card text-center">
  <img src="/assets/unknown.webp" class="card-img-top" alt="Unknown">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <div class="card-footer text-body-secondary">
    {{dayname}}
  </div>
</div>
