
  <!-- Main Card 1 -->
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4 class="my-0">{{name}}</h4>
      </div>
      <div class="card-body">
        <div class="row g-3" id="participant-{{number}}">
          <div class="col-6">
            {{> daycard class='today' dayname='Today' date='...'}}
          </div>
          <div class="col-6">
            {{> daycard class='tomorrow' dayname='Tomorrow' date='...'}}
          </div>
        </div>
      </div>
    </div>
  </div>