<h2 class="pb-2 border-bottom mt-5">{{name}}</h2>
    <div class="row g-0" id="participant-{{number}}">
      <div class="col m-2">
        {{> daycard class='today' dayname='Today' date='...'}}
      </div>
      <div class="col m-2">
        {{> daycard class='tomorrow' dayname='Tomorrow' date='...'}}
      </div>
    </div>