<div class="row justify-content-center" id="card-row">
      

</div>



  <!----------------------------------
  |||      Render functionality    |||
  ------------------------------------>
    <script>

    async function renderParticipant(){
      await fetchAndRegisterPartial("daycard");

      await fetchPartial('participant-cards')
      .then((templateSource) => {

        // Compile the template with Handlebars
        const template = Handlebars.compile(templateSource);

        // Generate the HTML by applying the context to the template
        var html = template({participants:globalSettings.participants});
        

        // Insert the generated HTML into the DOM
        document.getElementById('card-row').innerHTML = html;
        fetchData();
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }

    function fetchData(){
      const today = new Date();
      const tomorrow =  new Date();
      tomorrow.setDate(tomorrow.getDate() + 1);

      for (var i = 0; i < globalSettings.participants.length; i++) {
        fetchCard(i, globalSettings.participants[i], 'today', today);
        fetchCard(i, globalSettings.participants[i], 'tomorrow', tomorrow);
      }
    }

    function fetchCard(id, participant, dayname, date){
      const apiUrl = '/api/lists/'+globalSettings.list+'/element?userseed='+participant+'&date='+date.toISOString().split('T')[0];
      fetchContextData(apiUrl)
      .then(data => {
        const container = document.getElementById('participant-'+id+'-'+dayname);
                
        container.getElementsByClassName('card-title')[0].innerHTML = data.element.name;
        container.getElementsByClassName('card-description')[0].innerHTML = data.element.description;
        container.getElementsByClassName('card-date')[0].innerHTML = data.date.mediumString;
        //container.getElementsByClassName('card-footer')[0].innerHTML = data.date.mediumString;
        container.getElementsByClassName('card-img')[0].src = data.element.imgUrl;
      });
    }

    function loadMain(){ 
      loadSettings();
      renderParticipant();
    }
        // Display content when the page loads
        document.addEventListener('DOMContentLoaded', loadMain);
    </script>
