<div class="row">
  <div class="col"><h1>Settings</h1></div>
</div>
<div class="row">
    <form id="settingsForm" class="container mt-5" >
        <fieldset class="row mb-5">
            <legend class="col-form-label col-sm-2 pt-0">Participants</legend>
            <div class="col-sm-10">
                <div id="participantsContainer"></div>
                <button type="button" class="btn btn-secondary btn-sm mt-2" id="addParticipantItem">Add Participant</button>
            </div>
        </fieldset>
        <div class="row mb-5">
            <label for="list" class="col-sm-2 col-form-label">Challenge list</label>
            <div class="col-sm-10">
                <select id="list" class="form-select">
                    <option value="challenges">Challenges</option>
                    <option value="run">Run</option>
                    <option value="strength">Strength</option>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div for="list" class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary btn-lg" id="saveSettings">Save</button>
                <button type="button" class="btn btn-secondary btn-lg" id="resetSettings">Reset</button>
            </div>
        </div>
    </form>
</div>
  <!----------------------------------
  |||      Settings functionality   |||
  ------------------------------------>
  <script>
    
        function saveSettings() {
            const participantInputs = document.querySelectorAll('.participant-input');
            const participantValues = Array.from(participantInputs).map(input => input.value);
            const settings = {
                //username: document.getElementById('username').value,
                //volume: document.getElementById('volume').value,
                list: document.getElementById('list').value,
                participants: participantValues
            };
            document.cookie = `settings=${JSON.stringify(settings)};path=/;max-age=31536000`;
            
            window.location.reload();
        }

        function populateSettings() {
            loadSettings();

            //document.getElementById('username').value = settings.username;
            //document.getElementById('volume').value = settings.volume;
            document.getElementById('list').value = globalSettings.list;

            const participantsContainer = document.getElementById('participantsContainer');
            participantsContainer.innerHTML = '';
            globalSettings.participants.forEach(value => {
                addParticipantItem(value);
            });
        }

        function addParticipantItem(value = '') {
            const participantsContainer = document.getElementById('participantsContainer');
            const div = document.createElement('div');
            div.className = 'input-group mb-2';
            div.innerHTML = `
                <input type="text" class="form-control participant-input" value="${value}" placeholder="Enter participant name">
                <button type="button" class="input-group-text btn btn-danger btn-sm remove-participant-item"><i class="bi bi-trash-fill"></i></button>
            `;
            div.querySelector('.remove-participant-item').addEventListener('click', () => div.remove());
            participantsContainer.appendChild(div);
        }

        document.getElementById('addParticipantItem').addEventListener('click', () => addParticipantItem());
        document.getElementById('saveSettings').addEventListener('click', saveSettings);
        document.getElementById('resetSettings').addEventListener('click', loadSettings);
    </script>


    <script>
        // Display content when the page loads
        document.addEventListener('DOMContentLoaded', populateSettings);
    </script>